.footer-wrapper {
  height: auto;
  margin-top: 40px;
  background-color: #424e4c;
}

.footer-wrapper .footer-top-wrapper {
  display: flex;
  padding: 50px;
}

.footer-wrapper .footer-top-wrapper .subscribe-wrapper {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
}

.footer-wrapper .footer-top-wrapper .subscribe-wrapper .subscribe {
  font-size: 40px;
}

.footer-wrapper .footer-top-wrapper .subscribe-wrapper .sign-up {
  font-size: 16px;
}

.footer-wrapper .footer-top-wrapper .input {
  height: 32px;
  width: 30%;
  margin-left: 20%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.footer-wrapper .footer-top-wrapper .button {
  height: 75px;
  padding: 20px;
  border: none;
  background-color: green;
  color: white;
}

.footer-wrapper .footer-bottom-wrapper {
  padding: 8px 50px 8px 50px;
  display: flex;
  flex-direction: row;
  color: #e8e8e8;
}

.footer-bottom-wrapper .bottom {
  flex: 1;
}

.footer-wrapper .footer-bottom-wrapper .head {
  font-size: 24px;
  border-bottom: 1px solid white;
  width: 16%;
}

.footer-wrapper .footer-bottom-wrapper .para {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  width: 80%;
}
